@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


#app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    /* background-color: #95BABD; */
    font-weight: normal;
}

a,
.goldText {
  text-decoration: none;
  color: #AFD3C7;
  transition: 0.4s;
}

@media (hover: hover) {
    a:hover {
      background-color: hsla(160, 100%, 37%, 0.2);
    }
  }

.searchBox{
    border-radius: 10px;
    padding: 0.5vh 1.5vw ;
    margin-left: 1.5vw;
    height: 5vh;
}

.resetX{
    font-weight: bolder;
    margin-left: 0.5vw;
    border:1px solid transparent;
    padding: 0.5vh 0.5vw;
}

.resetX:hover{
    background-color: white;
    border-radius: 15px;
    border:1px solid black;
    background-size: 3%;
    cursor: pointer;  
    padding: 0.5vh 0.5vw;
}

fieldset{
    border-radius: 5px;
    border: 1px solid var(--color-border);
}


/*RESET*/
/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
    padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    /* background-color: #95BABD; */
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
    list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
    max-width: 100%;
    display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
    margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* FIN RESET */
